.container {

  background: rgb(1,0,0);
  background: linear-gradient(0deg, rgba(1,0,0,0) 0%, rgba(84,85,83,1) 49%, rgba(45,194,107,1) 100%);

  color: black;
  
}



h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
  color: black;
}

h4 {
  text-align: center;
  color: black;
}


